.customButton {
  padding: 5px;
  background-color: orange;
  color: black;
  margin: 0px 30px;
  display: flex;
  flex-direction: column;
}

.container {  
  padding: 5px 30px;
  display: flex;
  flex-direction: column;
  height: 20vh;
}

table {
  border-collapse: collapse;
}

td, th {
  text-align: left;

}

.nonBorder {
  border: none;
}

.buttonSpace {
  
}
